*.pyc
*~
.#*
\#*\#
~$*

# Specific directories
/target
/exp
/exp_old
/remote_exp
/old_remote_exp
/data

# Specific files
.project
.classpath
.pydevproject
.settings
java.hprof.txt
warn.log
tmp
.Rhistory
.DS_Store
/bin/
